@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition-duration: .3s;
    list-style-type: none;
    border: none;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-bg);
}

.con {
    width: 95%;
    margin: 0 auto;
}

.language-dashboard {
    border: 1px solid #202020 !important;
    color: #202020;
    height: 30px;
}
section {
    padding: 3em 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    .con {
        width: 95vw;
    }
}


/* button styles  */

.btn {
    font-size: 19px;
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
}

.btn i,
.btn img {
    font-size: 20px;
    width: 20px;
    margin: 0 .5rem;
}

.btn.btn-border {
    padding: .2rem .5rem !important;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition-duration: .3s;
}

.btn.btn-border.btn-white {
    color: #fff;
}

.btn.btn-border:hover {
    border: 1px solid #fff;
    padding: .2rem .5rem !important;
    transition-duration: .3s;
}

.btn.btn-yellow {
    background-color: var(--primary-color);
    color: #fff;
}

.btn.btn-green {
    background-color: var(--green);
    color: #fff;
}

.btn.btn-green:hover {
    background-color: #106d38;
}

.btn.btn-yellow:hover {
    background-color: var(--primary-dark);
}

.btn.btn-blue {
    background-color: var(--blue);
    color: #fff;
    padding: .5rem 1rem;
    font-size: 16px;
    margin-left: .5rem;
}

.btn.btn-blue i {
    font-size: 16px;
}

.btn.btn-blue:hover {
    background-color: #045a88;
}

.btn.btn-white {
    background-color: #fff;
    color: var(--primary-color);
    border: 2px solid #fff;
}

.btn.btn-white:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid #fff;
}


/* start of the layout styles  */

.dashboard-grid {
    width: 100%;
    height: auto;
    display: flex;
}

.dashboard-grid .sidebar {
    width: 260px;
    height: 100vh;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
}

.dashboard-grid .sidebar.show {
    width: 260px;
    height: 100vh;
    background-color: var(--dark-bg);
    position: fixed;
    top: 0;
    left: -260px;
}

.dashboard-grid .main {
    width: calc(100% - 260px);
    position: relative;
    left: 260px;
}

.dashboard-grid .main.expand {
    width: 100vw;
    position: relative;
    left: 0;
}

.dashboard-grid .main>header {
    position: fixed;
    top: 0;
    left: 260px;
    width: calc(100% - 260px);
    background-color: var(--light-bg);
    border-bottom: 2px solid #BDBDBD;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 3;
    background-color: var(--light-bg);
}

/* .dashboard-grid .main>header.expand,
.dashboard-grid .main>footer.expand {
    left: 0;
    width: 100vw;
} */

.dashboard-grid .main .content {
    margin-top: 70px;
    width: 100%;
    background-color: var(--light-bg);
    height: fit-content;
    position: relative;
    padding-bottom: 5rem;
}

/* .dashboard-grid .main>footer {
    position: fixed;
    bottom: 0;
    left: 260px;
    width: calc(100% - 260px);
    background-color: var(--light-bg);
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
} */

/* .dashboard-grid .main>footer .con {
    display: flex;
    justify-content: space-between;
}

.dashboard-grid .main>footer p {
    font-size: 16px;
    color: #444;
}

.dashboard-grid .main>footer .con a {
    color: var(--primary-color);
}

.dashboard-grid .main>footer .con a:hover {
    color: var(--orange-dark);
    text-decoration: underline;
} */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .dashboard-grid .sidebar {
        left: -300px;
        z-index: 3;
    }
    .dashboard-grid .sidebar.show {
        left: 0;
        background-color: var(--primary-color) !important;
    }
    .dashboard-grid .main {
        width: 100vw;
        left: 0;
    }
    .dashboard-grid .main.expand {
        width: 100vw;
        left: 0;
    }
    /* .dashboard-grid .main>header,
    .dashboard-grid .main>footer {
        width: 100vw;
        left: 0;
    }
    .dashboard-grid .main>header.expand,
    .dashboard-grid .main>footer.expand {
        width: 100vw;
        left: 0;
    } */
}

@media screen and (max-width: 767px) {
    .dashboard-grid .main>header {
        height: 50px;
    }
    .dashboard-grid .sidebar {
        left: -300px;
        z-index: 3;
    }
    .dashboard-grid .sidebar.show {
        left: 0;
        background-color: var(--primary-color) !important;
    }
    .dashboard-grid .main {
        width: 100vw;
        left: 0;
    }
    .dashboard-grid .main.expand {
        width: 100vw;
        left: 0;
    }
    /* .dashboard-grid .main>header,
    .dashboard-grid .main>footer {
        width: 100vw;
        left: 0;
    }
    .dashboard-grid .main>header.expand,
    .dashboard-grid .main>footer.expand {
        width: 100vw;
        left: 0;
    }
    .dashboard-grid .main>footer .con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 15px;
    } */
}


/* end of the layout styles  */


/* start of header styles  */

.main header,
.main header .con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main header .nav-toggler-btn {
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    color: var(--text);
    cursor: pointer;
}

.main header .nav-toggler-btn i:hover {
    color: var(--primary-color);
}

.main header .con>span {
    display: flex;
    align-items: center;
}

.main header .con>span form.search {
    width: fit-content;
    background-color: transparent;
    height: 40px;
    margin-right: 1rem;
    display: flex;
}

.main header .con>span form.search input {
    width: 100px;
    height: inherit;
    padding: 0 1rem;
    font-size: 16px;
    background-color: transparent;
}

.main header .con>span form.search input:focus {
    width: 200px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}

.main header .con>span form.search input:focus+button {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
}

.main header .con>span form.search button {
    width: 45px;
    height: inherit;
    background-color: transparent;
    display: flex;
    color: var(--icon-color);
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.main header .con>span .search-btn {
    width: 40px;
    height: 40px;
    display: flex;
    color: var(--icon-color);
    align-items: center;
    justify-content: center;
    display: none;
}

.main header .con>span .link {
    width: 30px;
    height: 30px;
    font-size: 23px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    position: relative;
}

.main header .con>span .link.notify::after {
    content: '';
    display: flex;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    border: 2px solid var(--light-bg);
}

.main header .con>span .link:hover i {
    color: var(--primary-color);
}

.main header .divider {
    width: 2px;
    height: 40px;
    margin: 0 2rem;
    background-color: #DFE0EB;
}

.main header .profile-btn {
    width: fit-content;
    padding: .3rem .5rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    border-radius: 10px;
}

.main header .profile-btn:hover {
    background-color: #5f5f5f1e;
}

.main header .profile-btn img {
    width: 40px;
    height: 40px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

.main header .profile-btn .name {
    padding: 0 .5rem;
}

.user-menu {
    width: 300px;
    height: 250px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: 70px;
    right: 0;
    box-shadow: 3px 3px 8px 3px rgba(27, 27, 27, 0.137);
    transform: translateX(110%);
    transition-duration: .3s;
}

.user-menu.show {
    transform: translateX(0);
    transition-duration: .3s;
}

.user-menu-top {
    width: 100%;
    height: 200px;
    background-color: var(--primary-color);
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.user-menu-top .fa-times {
    padding: .5rem;
    color: #fff;
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    font-size: 22px;
    cursor: pointer;
}

.user-menu-top .fa-times:hover {
    background-color: #fff;
    color: red;
}

.user-menu-top img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: .5rem;
    border-radius: 50%;
    object-fit: cover;
}

.logout-link {
    text-decoration: none;
    cursor: pointer;
}

.user-menu-top p {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.user-menu-top span {
    font-size: 16px;
    color: #fff;
}

.user-menu-footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-menu-footer a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(73, 84, 95);
    border: 1px solid #ccc;
    padding: .3rem;
    border-radius: 5px;
    transition-duration: .3s;
}

.user-menu-footer a:hover {
    background-color: var(--text);
    color: #fff;
    transition-duration: .3s;
}

.user-menu-footer a i {
    margin-right: .3rem;
}

.user-menu-footer a:hover i {
    color: #fff;
    transition-duration: .3s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    .main header .nav-toggler-btn {
        font-size: 25px;
    }
    .main header .con>span .link {
        width: 25px;
        height: 25px;
        font-size: 20px;
    }
    .main header .con>span .search-btn {
        display: flex;
        margin-right: 1rem;
    }
    .main header .con>span form.search {
        position: fixed;
        left: 0;
        top: 50px;
        background-color: #fff;
        width: 100vw;
        height: 0;
        overflow-y: hidden;
    }
    .main header .con>span form.search.show {
        height: 40px;
        border-bottom: 2px solid var(--border-color);
    }
    .main header .con>span form.search input {
        width: calc(100% - 40px);
        height: 40px;
    }
    .main header .con>span form.search input:focus {
        width: calc(100% - 40px);
        border-radius: 0;
    }
    .main header .con>span form.search button {
        height: 40px;
    }
    .main header .con>span form.search input:focus+button {
        border-radius: 0;
    }
    .main header .divider {
        width: 2px;
        height: 40px;
        margin: 0 .5rem;
        background-color: #DFE0EB;
    }
    .user-menu {
        top: 50px;
    }
}


/* end of header styles  */


/* start of sidebar styles */

.sidebar .logo {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.sidebar .logo img {
    width: 90%;
    margin: 0 auto;
}

.sidebar .menu {
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.sidebar .sub-menu {
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #535353;
}

.sidebar .sub-menu .title {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--orange-color);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.sidebar .sub-menu .link-con {
    width: 100%;
    height: fit-content;
}

.sidebar .sub-menu .link {
    display: flex;
    width: 100%;
    height: 45px;
    text-transform: capitalize;
    padding: 0 .1rem 0 2rem;
    font-size: 16px;
    color: #E5E5E5;
    margin-bottom: .5rem;
    align-items: center;
    position: relative;
}

.sidebar .sub-menu .link-con input {
    display: none;
}

.sidebar .sub-menu .link-con>.link {
    margin-bottom: 0;
    justify-content: space-between;
}

.sidebar .sub-menu .link-con>.link>i {
    position: relative;
    transform: rotate(-90deg);
}

.sidebar .sub-menu .link:hover {
    background-color: #fff2d921;
}

.sidebar .sub-menu .link.active {
    background-color: #fff2d921;
}

.sidebar .sub-menu .link.active::before {
    content: '';
    display: block;
    width: 5px;
    height: 100%;
    background-color: var(--orange-dark);
    position: absolute;
    left: 0;
    top: 0;
}

.sidebar .sub-menu .link i {
    margin-right: 1rem;
}

.sidebar .sub-menu .link.label img {
    width: 20px;
    margin-right: 1rem;
}

.sidebar .sub-menu .link-sub {
    background-color: #202020;
    height: 0;
    overflow-y: hidden;
}

.sidebar .sub-menu .link-con input:checked+.link-sub {
    height: fit-content;
    width: 100%;
}

.sidebar .sub-menu .link-sub .link {
    padding: 0 0 0 3rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        padding-top: 70px;
    }
    .sidebar .logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .sidebar {
        padding-top: 50px;
    }
    .sidebar .logo {
        display: none;
    }
}


/* sidebar scrollbar ******************************* */

.sidebar .menu::-webkit-scrollbar {
    width: .3em;
}

.sidebar .menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar .menu::-webkit-scrollbar-thumb {
    background-color: var(--orange-dark);
}


/* end of sidebar styles */


/* start of dashboard index page styles  */

.page-title {
    font-size: 30px;
    margin-bottom: 3rem;
    padding-top: 2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.page-title span {
    font-size: 15px;
}

.flex {
    display: flex;
}

.flex-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.flex-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.flex-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}

.flex-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
}

.section {
    margin-bottom: 4rem;
}

.section .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: var(--text);
    margin-bottom: 1rem;
}

.section .title span i {
    color: var(--primary-color);
    margin-right: 1rem;
}

.crumb {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.crumb a {
    color: var(--text);
    font-weight: 300;
    text-decoration: none;
    font-size: 18px;
    transition-duration: .3s;

}

.crumb span i {
    font-size: 15px !important;
}

.crumb a:hover {
    color: var(--text);
    transition-duration: .3s;
}

.crumb a:last-child {
    color: var(--primary-color);
}


.crumb span {
    display: block;
    font-size: 18px;
    margin: 0 .5rem;
}

.section .stat-card {
    width: 100%;
    height: 150px;
    background-color: #fff;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #DFE0EB;
    padding: 0 2rem;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
}

.section .stat-card:hover {
    border: 2px solid var(--primary-color);
}

.section .stat-card .stat-name {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-light);
    font-weight: 500;
}

.section .stat-card .stat-value {
    font-size: 45px;
    color: var(--text);
    font-weight: 700;
    text-align: center;
}

.section .stat-card:hover .stat-name,
.section .stat-card:hover .stat-value {
    color: var(--primary-color);
}

.stat-con {
    width: 100%;
    height: max-content;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin-bottom: 3rem;
    border: 2px solid var(--border-color);
}

.chart-con {
    width: 75%;
    height: inherit;
    border-right: 2px solid var(--border-color);
    padding: 1rem 2rem;
}

.chart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 1rem;
}

.chart-title .chart-name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .3rem;
}

.chart-title .chart-time {
    font-size: 16px;
    color: var(--text-light);
}

.chart-tags {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.chart-tags .tag {
    font-size: 16px;
    color: var(--text-light);
    text-transform: capitalize;
    position: relative;
    margin-left: 3rem;
}

.chart-tags .tag::before {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--border-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-125%);
}

.chart-tags .tag.active::before {
    background-color: var(--primary-color);
}

.chart-con img {
    width: 100%;
    height: calc(100% - 100px);
}

.chart-stats {
    width: 25%;
    height: inherit;
}

.chart-stats .chart-stat {
    width: 100%;
    height: 20%;
    border-bottom: 2px solid var(--border-color);
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.chart-stats .chart-stat:last-child {
    border-bottom: none;
}

.chart-stats .chart-stat .name {
    font-size: 18px;
    color: var(--text-light);
    margin-bottom: .5rem;
}

.chart-stats .chart-stat .value {
    font-weight: 600;
    color: var(--text);
    font-size: 30px;
}

.latest-pages {
    width: 100%;
    height: fit-content;
}

.latest-pages .latest-page {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.latest-pages .latest-page p {
    font-size: 20px;
    text-transform: capitalize;
}

.latest-pages .latest-page a i {
    font-size: 25px;
    color: var(--icon-color);
}

.latest-pages .latest-page a:hover i {
    color: var(--primary-color);
}

.notifications {
    width: 100%;
    height: fit-content;
}

.notification {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.notification:hover {
    background-color: var(--primary-light);
}

.notification .icon {
    width: 30px;
    height: 30px;
    font-size: 23px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    position: relative;
}

.notification.notify .icon::after {
    content: '';
    display: flex;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    border: 2px solid #fff;
}

.notification .info {
    display: grid;
    align-content: center;
}

.notification .info .name {
    font-size: 18px;
    color: var(--text);
}

.notification .info .sub {
    font-size: 15px;
    color: var(--text-light);
}

.table-con {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
}

.table-con table {
    width: 100%;
    height: fit-content;
}

.table-con table thead tr {
    border-bottom: 2px solid #eee;
}

.table-con table th {
    font-size: 16px;
    color: var(--text-light);
    font-weight: 500;
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid #eee;
    text-align: left;
    text-transform: capitalize;
}

.table-con table td {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: var(--text);
}

.table-con table td.flex-center {
    text-align: center;
}

.table-con table td img {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.table-con table td.file img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 0;
}

.table-con table .yes-pill {
    width: 70px;
    margin: 0 auto;
    padding: .5rem 1rem;
    background-color: #BEFFDA;
    color: var(--green);
    border-radius: 50px;
}

.table-con table .num {
    justify-content: center;
    text-align: center;
    width: 50px;
}

.table-con table .date {
    display: grid;
    align-content: center;
    justify-content: flex-start;
    padding-left: 1rem;
}

.table-con table .date .time {
    color: #7D9EB5;
    margin-top: .3rem;
    font-size: 14px;
}

.table-con table .action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.table-con table .action a.edit {
    font-size: 14px;
    border-radius: 5px;
    padding: .5rem;
    margin-right: .5rem;
    color: #fff;
    background-color: var(--primary-color);
}

.table-con table .action a.edit:hover {
    background-color: var(--primary-dark);
}

.table-con table .action a.delete {
    font-size: 14px;
    border-radius: 5px;
    padding: .5rem;
    margin-right: .5rem;
    color: #fff;
    background-color: red;
}

.table-con table .action a.delete:hover {
    background-color: rgb(202, 1, 1);
}

.table-con table .action a.see {
    font-size: 14px;
    border-radius: 5px;
    padding: .5rem;
    margin-right: .5rem;
    color: #fff;
    background-color: var(--blue);
}

.table-con table .action a.see:hover {
    background-color: #045a88;
}

.table-con table .action a.cancel {
    font-size: 14px;
    border-radius: 5px;
    padding: .5rem;
    margin-right: .5rem;
    color: #fff;
    background-color: var(--dark-bg);
}

.table-con table .action a.cancel:hover {
    background-color: #1B1B1B;
}

.table-con table .action a.download {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 2px solid var(--blue);
    padding: .3rem;
    color: var(--blue);
    border-radius: 50%;
}

.table-con table .action a.download:hover {
    background-color: var(--blue);
}

.table-con table .action a.download:hover i {
    color: #fff;
}

.table-con table td .rate i {
    color: var(--primary-color);
    font-size: 15px;
}

.table-con table td .pill {
    padding: .3rem 1rem;
    color: #fff;
    border-radius: 50px;
    margin: 0 auto;
    width: fit-content;
    align-self: center;
}

.table-con table td .published {
    background-color: var(--primary-color);
}

.table-con table td .unpublished {
    background-color: var(--dark-bg);
}

.table-con table td .sent {
    background-color: var(--green);
}

.table-con table td .not-sent {
    background-color: rgb(223, 41, 41);
}

.parent-con {
    width: 100%;
    height: max-content;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    margin-bottom: 3rem;
}

.parent-con .top {
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.parent-con .title sub {
    font-size: 15px;
}

.parent-con .title span {
    text-transform: capitalize;
    font-size: 25px;
}

.parent-con .top .btn {
    margin-left: .5rem;
    border-radius: 5px;
}

.parent-con .title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

.parent-con .title.border {
    border-bottom: 1px solid #ebebeb;
}

.parent-con.material {
    position: sticky;
    top: 80px;
    height: fit-content;
}

.parent-con.material ul {
    width: 100%;
}

.parent-con.material ul a {
    display: block;
    color: var(--text-light);
    width: 100%;
    padding: 1rem;
    position: relative;
}

.parent-con.material ul a:hover {
    background-color: var(--primary-light);
    position: relative;
}

.parent-con.material ul a.active {
    background-color: var(--primary-light);
}

.parent-con.material ul a.active::after {
    content: '';
    display: block;
    background-color: var(--primary-color);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.parent-con form .btn-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.parent-con form .btn-flex .btn {
    margin-right: 1rem;
    border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .section {
        margin-bottom: 2rem;
    }
    .flex-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .flex-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .flex-1-2 {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .flex-2-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .flex {
        flex-wrap: wrap;
    }
    .chart-con {
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid var(--border-color);
    }
    .chart-stats {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .chart-stats .chart-stat {
        width: 100%;
        height: 150px;
    }
    .chart-stats .chart-stat:nth-child(odd) {
        border-right: 2px solid var(--border-color);
    }
    .table-con {
        width: 100%;
        max-width: 90vw;
        overflow-x: scroll;
    }
    .table-con table {
        min-width: 100vw;
    }
    .parent-con {
        max-width: 95vw;
    }
    .parent-con.material {
        position: relative;
    }
}

@media screen and (max-width: 767px) {
    .section {
        margin-bottom: 2rem;
    }
    .section .parent-con {
        margin-bottom: 1rem;
    }
    .flex-2 {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .flex-2-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .flex-4 {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .flex {
        flex-wrap: wrap;
    }
    .chart-con {
        width: 100%;
        border-right: none;
        padding: 1rem;
    }
    .chart-top {
        flex-wrap: wrap;
        height: fit-content;
    }
    .chart-title .chart-name {
        margin-bottom: 0;
    }
    .chart-title .chart-time {
        margin-bottom: 1rem;
    }
    .chart-stats {
        width: 100%;
        height: inherit;
    }
    .chart-stats .chart-stat {
        width: 100%;
        height: 100px;
    }
    .table-con {
        width: 100%;
        max-width: 95vw;
        overflow-x: scroll;
    }
    .table-con table {
        min-width: 100vw;
    }
    .table-con table th.num {
        min-width: 100px;
        text-align: center;
    }
    .table-con table th.file {
        min-width: 100px;
        text-align: center;
    }
    .table-con table th.name {
        min-width: 150px;
        text-align: center;
    }
    .table-con table th.article {
        min-width: 200px;
        text-align: center;
    }
    .table-con table th.size,
    .table-con table th.extension,
    .table-con table th.created,
    .table-con table th.action {
        min-width: 100px;
        text-align: center;
    }
    .table-con table th.member {
        min-width: 130px;
        text-align: center;
    }
    .table-con table th.private,
    .table-con table th.protected {
        min-width: 80px;
        text-align: center;
    }
    .table-con table th.date {
        min-width: 150px;
        text-align: center;
    }
    .parent-con {
        padding: 1rem;
    }
    .parent-con .title {
        flex-wrap: wrap;
    }
    .parent-con.material {
        position: relative;
    }
    .flex-1-2 {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .parent-con form .btn-flex {
        justify-content: center;
    }
    .parent-con {
        max-width: 95vw;
    }
}


/* end of dashboard index page styles  */


/* end of the form styles  */

form {
    width: auto;
    height: auto;
}

form .form-section {
    width: 100%;
    height: auto;
}

form .form-section .section-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .5rem;
}

form .form-section .form-flex-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

form .form-section .form-check {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

form .form-section .form-check label {
    width: inherit;
    height: inherit;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #BDBDBD;
}

form .form-section .form-check input[type="radio"] {
    display: none;
}

form .form-section textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #E8E8E8;
    font-size: 18px;
}

form .form-section textarea:hover {
    border: 2px solid #b3b3b3;
}

form .form-section textarea:focus {
    border: 2px solid var(--primary-color) !important;
}

form .form-section .form-check input[type="radio"]:checked~label {
    background-color: var(--primary-color);
}

form .form-section .custom {
    width: 100%;
    height: 45px;
    display: flex;
    border: 2px solid #E8E8E8;
}

form .form-section .custom input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1rem;
}

form .form-section .custom label {
    width: auto;
    height: 100%;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}

form .form-section .methods-con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

form .form-section .methods-con .method {
    width: fit-content;
    height: 35px;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

form .form-section .methods-con .method input[type="radio"] {
    border-radius: 0 !important;
}

form .form-section .methods-con .method label {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

form .form-section .methods-con .method label img {
    width: 40px;
}

form .form-section .form-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

form .form-section .form-field {
    width: 100%;
    margin-bottom: 1rem;
    display: grid !important;
    align-content: flex-start;
}

form .form-section .form-field label {
    font-size: 18px;
    margin-bottom: .3rem;
}

form .form-section .form-field select,
form .form-section .form-field input {
    font-size: 18px;
    height: 50px;
    padding: 0 1rem;
    border: 2px solid #E8E8E8;
    background-color: #fff;
    font-size: 16px;
    outline: none;
}

form .form-section .form-field select:hover,
form .form-section .form-field input:hover {
    border: 2px solid #b3b3b3;
}

form .form-section .form-field select:focus,
form .form-section .form-field input:focus {
    border: 2px solid var(--primary-color);
}

form .default-check {
    display: flex;
    align-items: center;
}

form .default-check a {
    color: var(--primary-color);
}

form .default-check a:hover {
    text-decoration: underline;
}

form .default-check input {
    margin-right: 1rem;
}

form .alert {
    width: 100%;
    padding: 1rem;
    margin-top: .3rem;
    background-color: #E3F5FF;
    display: flex;
}

form .alert i {
    color: #0585ca;
    margin-right: 1rem;
}

.skill-con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.skill-con input[type="checkbox"],
.tech-con input[type="checkbox"] {
    display: none;
}

.skill-con input[type="checkbox"]+.chip {
    background-color: var(--gray);
    border-radius: 0;
    padding: .3rem .5rem;
    margin-right: .5rem;
    margin-top: .5rem !important;
    cursor: pointer;
}

.skill-con input[type="checkbox"]:checked+.chip {
    color: #fff;
    background-color: var(--primary-color);
}

.chip {
    border-radius: 50px;
}

.chip:hover {
    background-color: var(--secondary-blue);
}

form .flex .login-remember {
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

form .flex .login-remember img {
    width: 25px;
    border-radius: 5px;
    margin-right: .2rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    form .form-section .form-flex-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    form .form-section .form-flex {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}


/* end of the form styles  */


/* start of the create post page styles  */

.create-post-section .title p {
    font-weight: 400;
}

.create-post-section .title .btns {
    display: flex;
}

.create-post-section .title a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    font-size: 20px;
    color: var(--text-light);
    background-color: var(--light-gray);
}

.create-post-section .title a:hover {
    background-color: var(--text-light);
}

.create-post-section .title a:hover i {
    color: #fff;
}


/* end of the create post page styles  */


/* start of the file drop component styles  */

.file-drop {
    width: 100%;
    height: 350px;
    background-color: #fff;
    position: relative;
}

.file-drop>img {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    z-index: 1;
    transform: scale(.9);
}

.file-drop-sub {
    width: 100%;
    height: 100%;
    background-size: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 2;
    position: relative;
}

.file-drop-sub img {
    width: 120px;
    margin: 0 auto;
}

.file-drop-sub p {
    text-align: center;
    font-style: 18px;
    color: var(--text);
}

.file-drop-sub p a {
    color: var(--primary-color);
}


/* end of the file drop component styles  */


/* start of the create category page styles  */

.create-category {
    position: sticky;
    top: 90px;
}

.create-category form .btn-flex .btn {
    width: 100%;
    text-align: center;
    margin: 0;
}


/* start of the create category page styles  */


/* start of the data table styles  */

.data-table {
    width: 100%;
    height: fit-content;
}

.data-table .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.data-table .top h1 {
    font-weight: 400;
}

.data-table .top>.span {
    display: flex;
    flex-wrap: wrap;
}

.data-table .top>.span select {
    border: 1px solid #A6C1D3;
    padding: 0 .3rem;
    margin-right: 1rem;
    background-color: #fff;
    font-size: 16px;
}

.data-table .top .btn-add {
    font-size: 16px;
}

.data-table .top form {
    width: 300px;
    height: 45px;
    border: 1px solid #A6C1D3;
    display: flex;
}

.data-table .top form input {
    width: 260px;
    height: 100%;
    padding: 0 1rem;
}

.data-table .top form button {
    width: 45px;
    height: 100%;
    padding: 0 1rem;
    background-color: #fff;
    cursor: pointer;
}

.data-table .top form button:hover {
    background-color: #eee;
}

.data-table .table-con {
    box-shadow: none;
}

.data-table .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.data-table .bottom>div {
    display: flex;
    align-items: center;
}

.data-table .bottom>div:first-child {
    font-weight: 18px;
    color: var(--text-light);
}

.data-table .bottom>div:first-child select {
    border: 1px solid #A6C1D3;
    padding: 0 .3rem;
    margin: 0 1rem;
    background-color: #fff;
    font-size: 16px;
}

.data-table .bottom>div:last-child {
    font-weight: 18px;
}

.data-table .bottom>div:last-child>a {
    color: var(--text-light);
    font-weight: 600;
}

.data-table .bottom>div:last-child>a:first-child i {
    margin-right: 0.5rem;
}

.data-table .bottom>div:last-child>a:last-child i {
    margin-left: 0.5rem;
}

.data-table .bottom>div:last-child>a:hover {
    color: var(--text);
}

.data-table .bottom>div:last-child .numbers {
    margin: 0 1rem;
}

.data-table .bottom>div:last-child .numbers ul {
    display: flex;
}

.data-table .bottom>div:last-child .numbers a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: var(--text);
}

.data-table .bottom>div:last-child .numbers a.active {
    background-color: var(--primary-color);
    color: #fff;
}

.data-table .bottom>div:last-child .numbers a:hover {
    background-color: var(--primary-light);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    .data-table .top {
        flex-wrap: wrap;
        width: 100%;
    }
    .data-table .top .span {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 1rem;
        justify-content: space-between;
    }
    .data-table .top .span .btn.btn-blue {
        margin-top: .5rem;
    }
    .data-table .top .btn {
        padding: 1rem .3rem;
    }
    .data-table .top form {
        width: 100%;
    }
    .data-table .top form input {
        width: calc(100% - 45px);
    }
    .data-table .bottom {
        flex-wrap: wrap;
    }
    .data-table .bottom>div {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }
}


/* end of the data table styles  */


/* start of category styles  */


/* 
.categories {
    width: 100%;
    height: max-content;
}

.categories ul {
    padding-left: 1rem;
    margin-top: .5rem;
}

.categories li {
    width: 100%;
    margin-bottom: 1rem;
    height: fit-content;
    position: relative;
}

.categories li .li-sub {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories li .li-sub p {
    align-items: center;
    display: flex;
    color: var(--text-light);
}

.categories li.selected li-sub p {
    color: var(--text);
}

.categories li .li-sub p i {
    font-size: 22px;
    margin-right: 1rem;
    color: var(--primary-color);
}

.categories li .li-sub p img {
    width: 22px;
    margin-right: 1rem;
}

.categories li .li-sub .icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text);
    border-radius: 50%;
    font-size: 15px;
}

.categories li.selected li-sub p {
    color: var(--text);
}

.categories li.selected::before {
    content: '';
    display: block;
    width: 2px;
    background-color: var(--text-light);
    position: absolute;
    top: 0;
    left: 0.5rem;
}
 */


/* end of category styles  */

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {}