.btn-auth {
    background-color: var(--primary-color);
    color: var(--color-white);
    border-color: var(--primary-color);
    cursor: pointer;
    width: 100%;
    padding: 14px 0px;
}


.outlined {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
}

.not-full-width {
    width: fit-content;
    padding: 14px 10px;
}